
<div>
<%= form_with(model: wishlist, local: true) do |form| %>
  
  <div class="field">
    <div><%= form.label :name %></div>
    <div><%= form.text_field :name %></div>
  </div>

  <div class="field">
    <div><%= form.label :price %></div>
    <div><%= form.number_field :price %></div>
  </div>
  
  <div class="field">
    <div><%= form.label :icon %></div>
    <% @group.each do |g| %>      
      
      <% if @groups_added.first.nil?  %>
        <%= check_box_tag "wishlist[group_ids][]", g.id  %>          
      <% else %>
        <% if @groups_added.find_by(id: g.id)  %>
          <%= check_box_tag 'activated[]', "wishlist[group_ids][]", g.id  %>          
        <% else  %>
          <%= check_box_tag "wishlist[group_ids][]", g.id  %>          
        <% end %>
      <% end %>

      <%= label_tag(:icon, "#{g.name}") %>
      <i class="<%= g.icon %>"></i> 
      <br>
    <% end %>
  </div>
  
  <div class="actions">
    <div>
      <br>
      <%= form.submit %>
    </div>
  </div>
<% end %>
</div>