<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurTransactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'  %>    
    <% flash.each do |message_type, message| %>
       <div class="alert alert-info"><%= message %></div>
    <% end %>
    <main class="container-fluid">
      <section class="d-flex justify-content-center ">
        <div class="d-flex justify-content-center align-items-center container ">
            <div class="row profile ">
              
              <% if logged_in?  %>
              <ul class="col-3 menu-profile column border-right border-secondary">
                  <li > <br> </li>
                  <li><div class="icon-user"> <i class="fas fa-user"></i></div></li>      
                  <li class="text-center "><%= current_user.username %> | <%= link_to 'Edit', edit_user_path(current_user) %></li>
                  <li class="border-bottom border-secondary"> <br> </li>
                  <li class="border-bottom border-secondary"> <%= link_to "All my wishlist", wishlists_path, class: "nav-link active", method: 'get' %></li>
                  <li class="border-bottom border-secondary"> <%= link_to "All my external wishlist ", external_wishlists_path, class: "nav-link active", method: 'get' %></li>
                  <li class="border-bottom border-secondary"> <%= link_to "All groups", groups_path, class: "nav-link active", method: 'get' %></li>
                  <li>  </li>
              </ul>              
              <% end  %>              
              
              <div class="col-9 content-profile">              
                <%= yield %>
              </div>    

            </div>
          </div>   
        </div>
      </section>
    <main>
  </body>
</html>
