<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurTransactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'  %>    
    <% flash.each do |message_type, message| %>
       <div class="alert alert-info"><%= message %></div>
    <% end %>
    <main class="container-fluid">
      <section class="d-flex justify-content-center ">
        <div class="d-flex justify-content-center align-items-center container">
          <%= yield %>
        </div>
      </section>
    <main>
  </body>
</html>
